<router-outlet></router-outlet>
<div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Column 1</h4>
        <p>Content of column 1</p>
      </div>
  
      <div class="col-md-3">
        <h4>User List</h4>
        <p>Content of column 2</p>
        <app-user-list [users]="userList"></app-user-list>
      </div>
  
      <div class="col-md-3">
        <h4>Column 3</h4>
        <p>Content of column 3</p>
      </div>
  
      <div class="col-md-3">
        <h4>Column 4</h4>
        <p>Content of column 4</p>
      </div>
    </div>
  </div>  